.idea/
.DS_Store
Deploy/
alembic/
alembic.ini
celerybeat-schedule
*.pyc
__pycache__/
app/config_override.yaml
app/static/css/uikit*
app/static/js/jquery*
app/static/js/uikit*
app/static/js/vue*
.coverage
.pytest_cache/
tests/config_test_override.yaml
tests/dbtest.py
htmlcov/
tests/test_test.py
logs/*.log
