<!doctype html>
<title>{% block title %}{% endblock %} MyArxiv</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if config['ENV']=="development" %}
    {% include "external-dev.html" %}
{% else %}
    {% include "external.html" %}
{% endif %}
<script>
    var u = {
        islogin: {% if current_user.is_authenticated %} true {% else %} false {% endif %},
        name: {% if current_user.is_authenticated %} "{{ current_user.name  }}" {% else %} null {% endif %}
    };

    $(function () {
            var nav = new Vue({
                el: "#nav",
                data: {
                    uobj: u
                }
            });
        }
    )
</script>
{% block head %}{% endblock %}
<nav-bar id="nav" v-bind="uobj"></nav-bar>
<header>{% block header %}{% endblock %}</header>
{% block content %}{% endblock %}

