{% extends 'base.html' %}

{% block head %}

    <script>
        $(function () {
            var example1 = new Vue({
                el: '#pl',
                delimiters: ["<%", "%>"],
                data: {
                    board: {
                        ready: true,
                        title: "Coming Soon...",
                        comment: "Please wait for several seconds to see today's highlight only for you"
                    },
                    items: [],
                    date: "{{date}}",
                    page: "{{page}}",
                    pageobj: {},
                    searchobj: {sdates: null},
                    issearch: false,
                    navs: [{name: "today"}, {name: "recent"}, {name: "favorites"}, {name: "search"}],
                    active: 0,
                    isnote: false,
                    notebt: "Show Tips",
                    login: {% if current_user.is_authenticated %} true {% else %} false {% endif %}

                },
                methods: {
                    favorite: function (index, event) {
                        console.log("favorite function is clicked");
                        event.preventDefault();
                        var self = this;
                        var favaddquery = $.ajax({
                            url: "/api/favorites/switch",
                            data: JSON.stringify({id: [this.items[index]['pid']]}),
                            type: "POST",
                            dataType: "json",
                            contentType: "application/json"
                        });
                        if (this.items[index].favorite === 0) {
                            var newitem = this.items[index];
                            newitem.favstyle = {color: 'red'};
                            newitem.favorite = 1;
                            Vue.set(this.items, index, newitem);
                        }
                        else {
                            var newitem = this.items[index];
                            newitem.favstyle = {color: 'black'};
                            newitem.favorite = 0;
                            Vue.set(this.items, index, newitem);
                        }

                    },

                    getpage: function () {
                        var self = this;
                        var url = "/api/today?" + $.param({
                            date: this.date,
                            page: this.page
                        });
                        self.pageobj.infourl = "/api/today?date=" + this.date + "&";
                        self.pageobj.post = false;
                        var jsdt = $.getJSON(url);
                        return jsdt
                    },

                    getfavpage: function () {
                        var self = this;
                        var url = "/api/favorites?";
                        self.pageobj.infourl = "/api/favorites?";
                        self.pageobj.post = false;
                        var jsdt = $.getJSON(url);
                        return jsdt
                    },

                    showpage: function (queryPromise) {
                        var self = this;
                        self.board.title = "Coming soon";
                        self.board.ready = true;
                        queryPromise.done(function (data) {
                            self.items = data.results.items;
                            self.pageobj.page = data.results['page'];
                            self.pageobj.hasprev = data.results['has_prev'];
                            self.pageobj.hasnext = data.results['has_next'];
                            self.pageobj.last = data.results['last']
                            // if(self.pageobj.hasnext){console.log("true for next")};
                            if (self.items.length > 0) {
                                self.board.ready = false;
                                var pid_list = [];
                                for (let i = 0; i < self.items.length; i++) {
                                    pid_list.push(self.items[i].pid);

                                }
                                self.$nextTick(function () {
                                    if (window.MathJax) {
                                        console.log('rendering mathjax');
                                        window.MathJax.Hub.Queue(["Typeset", window.MathJax.Hub]);
                                    }
                                });

                                if (self.login) {

                                    var favquery = $.postJSON("/api/favorites", {id: pid_list});

                                    favquery.done(function (data) {
                                        for (let i = 0; i < self.items.length; i++) {
                                            self.items[i].favorite = data.results[i];
                                            if (self.items[i].favorite === 1) {
                                                var newitem = self.items[i];
                                                newitem.favstyle = {color: 'red'};
                                                Vue.set(self.items, i, newitem);
                                            }
                                            else {
                                                var newitem = self.items[i];
                                                newitem.favstyle = {color: 'black'};
                                                Vue.set(self.items, i, newitem);
                                            }

                                        }
                                    });
                                    favquery.fail(function () {
                                        console.log("something went wrong in favorite querying");
                                    });
                                }
                            }
                            else {
                                self.board.title = "No paper here";
                                if (self.pageobj.infourl === "/api/favorites?") {
                                    self.board.comment = "You have no favorite paper yet.";
                                }
                                else {
                                    self.board.comment = "Maybe you would like to add more keywords and fields of your interest.";
                                }
                            }
                        });

                        queryPromise.fail(function (err) {
                            self.board.ready = true;
                            self.board.title = "Something not so lucky";
                            self.board.comment = err.responseJSON.message;
                        });


                    },

                    getrecpage: function () {
                        var self = this;
                        self.board.comment = "trying to find recent paper matching your interest";
                        now = new Date();
                        last = new Date(now.getTime() - 10 * 24 * 3600 * 1000);
                        dates = {
                            start: $.strftime(last),
                            end: $.strftime(now)
                        };
                        self.pageobj.post = {"default_subjects": true, "default_keywords": true, "dates": dates};
                        var r = $.postJSON("/api/query", self.pageobj.post);
                        self.pageobj.infourl = "/api/query?";
                        return r;
                    },

                    authorlist: function (author, event) {
                        var self = this;
                        self.board.comment = "trying to find the paper with author " + author;
                        event.preventDefault();
                        self.pageobj.post = {"authors": [author]};
                        var r = $.postJSON("/api/query", self.pageobj.post);
                        self.pageobj.infourl = "/api/query?";
                        this.showpage(r);
                    },

                    keywordlist: function (keyword, event) {
                        var self = this;
                        self.board.comment = "trying to find the paper with keyword " + keyword[0];
                        event.preventDefault();
                        self.pageobj.post = {"keywords": [keyword[0]]};
                        var r = $.postJSON("/api/query", self.pageobj.post);
                        self.pageobj.infourl = "/api/query?";
                        this.showpage(r);
                    },

                    querylist: function (url, post, page) {
                        var self = this;
                        var r;
                        if (post) {
                            r = $.postJSON(url + "page=" + page, post);
                        }
                        else {
                            r = $.getJSON(url + "page=" + page);
                        }
                        self.showpage(r);
                    },

                    gopage: function (num) {
                        this.pageobj.page = (parseInt(this.pageobj.page) + num).toString();
                        this.querylist(this.pageobj.infourl, this.pageobj.post, this.pageobj.page);
                        window.scroll(0, 0);

                    },

                    navroute: function (i, event) {
                        var self = this;
                        event.preventDefault();
                        if (i !== 3) {
                            self.issearch = false;
                        }
                        var query;
                        self.active = i;
                        if (i === 0) {
                            query = this.getpage();
                            this.showpage(query);
                        }
                        else if (i === 1) {
                            query = this.getrecpage();
                            this.showpage(query)

                        }
                        else if (i === 2) {
                            query = this.getfavpage();
                            this.showpage(query);

                        }
                        else if (i === 3) {
                            self.issearch = !self.issearch;
                        }

                    },

                    search: function (event) {
                        event.preventDefault();
                        var self = this;
                        self.board.ready = false;
                        if (self.searchobj.sdates) {
                            s = self.searchobj.sdates.start;
                            self.searchobj.dates = {};
                            self.searchobj.dates.start = $.strftime(s);
                            e = self.searchobj.sdates.end;
                            self.searchobj.dates.end = $.strftime(e);
                        }
                        else {
                            self.searchobj.dates = null;
                        }
                        self.board.comment = "trying to find relevant paper based on your conditions";
                        self.pageobj.post = self.searchobj;
                        self.pageobj.post.sdates = null;
                        var query = $.postJSON("/api/query", self.pageobj.post);
                        self.pageobj.infourl = "/api/query?";
                        self.showpage(query);
                        self.issearch = false;

                    },

                    note: function (event) {
                        event.preventDefault();
                        this.isnote = !this.isnote;
                        if (!this.isnote) {
                            this.notebt = "Show Tips";
                        }
                        else {
                            this.notebt = "Omit Tips";
                        }
                    }
                },
                created: function () {
                    var query = this.getpage();
                    this.showpage(query);
                }
            })
        });

    </script>
{% endblock %}


{% block content %}

    <div class="paper-box" id="pl">
        <div class="uk-flex uk-flex-center uk-flex-middle">
            <ul class="uk-subnav uk-margin-top uk-subnav-pill">
                <li v-for="(nav, index) in navs" v-bind:class="{ 'uk-active': index===active }">
                    <a href="#" v-text="nav.name" v-on:click="navroute(index, $event)"></a>
                </li>
            </ul>
        </div>

        <refresh-board v-bind="board"></refresh-board>

        <div v-if="issearch" class="uk-card uk-card-body uk-card-body uk-margin-top uk-card-hover">
            <div class="" uk-margin>
                <v-date-picker mode='range' v-model='searchobj.sdates'
                               :input-props='{ class: "uk-input uk-form-width-large", placeholder: "Select announce dates of the papers"}'>

                </v-date-picker>
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-large" type="text" placeholder="Paper arxiv id, separated by comma"
                       v-model="searchobj.pid">
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-large" type="text" placeholder="Keywords, separated by comma"
                       v-model="searchobj.keywords">
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-large" type="text" placeholder="Subjects, separated by comma"
                       v-model="searchobj.subjects">
            </div>
            <div class="uk-margin">
                <input class="uk-input uk-form-width-large" type="text" placeholder="Authors, separated by comma"
                       v-model="searchobj.authors">
            </div>
            <div class="uk-margin">
                <input class="uk-checkbox" type="checkbox" placeholder="Input" v-model="searchobj['default_keywords']">
                Include default keywords in my
                profile
            </div>
            <div class="uk-margin">
                <input class="uk-checkbox" type="checkbox" placeholder="Input" v-model="searchobj['default_subjects']">
                Include default subjects in my
                profile
            </div>
            <div class="uk-margin">
                <input class="uk-checkbox" type="checkbox" placeholder="Input" v-model="searchobj['favorites']"> Only
                search in my favorites papers
            </div>
            <div class="uk-margin">
                <button class="uk-button-primary uk-button-large" v-on:click="search">Search Now</button>
                <button class="uk-button-default uk-button-large uk-margin-left" v-on:click="note"
                        v-text="notebt"></button>
            </div>
            <div v-if="isnote" class="uk-margin uk-text-muted"><p>Note: Blank input implies search for all papers
                irrespective of
                corresponding conditions.</p>
                <p>The author name must be the full name. If you want to search someone's paper by part of the name,
                    we suggest using the name as keywords instead of authors.</p>
                <p>Strings for authors, subjects and keywords no more than 3 chars are omitted.</p>
                <p>Logged in user can search in longer time ranges.</p>
            </div>
        </div>

        <ul class="uk-list uk-list-large uk-list-striped" style="margin-top:0">
            <li v-for="(item, index) in items">
                <h3 class="uk-heading-bullet"><a class="uk-margin-right" :href="'/paper/'+item['arxiv_id']">
                    <% item['arxiv_id'] %>
                </a>
                    <a uk-icon="heart" v-bind:style="item.favstyle" v-on:click="favorite(index, $event)"></a></h3>
                <template v-for="k in item['keyword']">
                    <a class="uk-button uk-button-default" href='#' v-on:click="keywordlist(k, $event)"><% k[0]
                        %></a>
                </template>
                <p class="uk-article-meta">Added to favorite on <%item['date'] %></p>
                <h3> <% item.title %></h3>
                <div class="uk-margin-top">
                    <template v-for="(a, index) in item['authors']">
                        <a href="#" v-on:click="authorlist(a, $event)"><% a %> </a><span
                            v-if="index+1 < item['authors'].length">,  </span>
                    </template>
                </div>

                <p> <% item.summary %></p>
            </li>
        </ul>
        <paginate v-bind="pageobj" v-on:gopage="gopage"></paginate>
    </div>
{% endblock %}