{% extends 'base.html' %}
{% block head %}
<script>
    $(function () {
        var main = new Vue({
            el: "#main",
            data: {
                email: {% if before %}""{% else %}"{{email}}"{% endif %},
                seen: false,
                message: "",
                password: ""
            },
            methods: {
                submit: function (event) {
                    var self = this;
                    event.preventDefault();
                    var url;
                    {% if before %}
                    url = "/api/password/reset";
                    {% else %}
                    url = "/api/password/edit";
                    {% endif %}
                    var q = $.post(url,
                        {
                            email: this.email,
                            password: CryptoJS.SHA1(this.email + ':' + this.password).toString(),
                            ctoken:"{{token | ctokenize}}"
                        });
                    q.done(function (data) {
                        console.log("succeed");
                        self.seen = true;
                        self.message = data.message;

                    });
                    q.fail(function (err) {
                        self.seen = true;
                        self.message = err.responseJSON.message;
                    })

                },
                hide: function (event) {

                    event.preventDefault();
                    this.seen = false;
                }
            }

        })
    })
</script>
{% endblock %}
{% block content %}
<div class="small-box" id="main">
    <div id="warning" v-if="seen" class="uk-alert-warning" uk-alert>
        <a class="uk-alert-close" uk-close v-on:click="hide"></a>
        <p v-text="message"></p>
    </div>
    <form class="uk-form-horizontal" id="reg" method="POST" action="/api/registration">
        <div class="uk-margin">
            <div class="uk-form-controls"><label class="uk-form-label uk-text-large">{% if before %}Your Email Address
                {% else %}New Password{% endif %}</label>
                {% if before %}
                <input class="uk-input uk-margin-top" style="width:60%" type="text"
                      placeholder="email" v-model="email">
                {% else %}
                <input class="uk-input uk-margin-top" style="width:60%" type="password"
                       v-model="password">
                {% endif %}
            </div>
        </div>


        <button class="uk-align-center uk-button uk-button-primary" v-on:click="submit">Submit</button>
    </form>
</div>
{% endblock %}